terraform/ignore.txt
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.*
terraform/.terraform/
terraform/.terraform.*
terraform/terraform.tfvars

*.env

src/spotify_ingest/__pycache__/
src/enrich_artists/__pycache__/
placeholder*

dbt/logs/
dbt/dbt4pulse/logs/
dbt/dbt4pulse/target/
dbt/dbt4pulse/dbt_packages/

.DS_Store
*DS_Store
DS_Store*
*.DS_Store
**/.DS_Store

kestra/secrets/
